section.comment 
  .container 
    .swiper-comment.swiper
      .swiper-wrapper 
        - for (var i = 0; i < 3; i++)
          .swiper-slide.swiper-comment-slide 
            .swiper-comment-text. 
              Я надолго запомню мой День рождения, проведённый в этом ресторане! Кусочек родной Армении!!! Отдельное спасибо за комплепент в виде фруктовой тарелки. Будем рекомендовать этот ресторан своим друзьям и родственникам также за рубежом, путешествующих в Санкт-Петербург!!!
            img.swiper-comment-icon(src=" ./images/comment-icon.png")
            h3.swiper-comment-title Посетитель
            span.swiper-comment-subscr Николай
      .swiper-pagination