section.cooks 
  .container 
    h2.cooks__title Наши <span>повара
    .cooks__content 
      each img in ["./images/cook-1.jpg", "./images/cook-2.jpg", "./images/cook-3.jpg"]
        img.cooks__img(src=img)