section.gallery 
  .container 
    .gallery__title Галерея <span>блюд
    .gallery__content 
      .gallery__left.gallery__block 
        .gallery__left-top
          picture 
            source(srcset="./images/gallery-1_1.jpg", media="(max-width: 1228px)")
            img(src="./images/gallery-1.jpg", alt="img")
        .gallery__left-bottom 
          img(src="./images/gallery-2.jpg")
          img(src="./images/gallery-3.jpg")
      .gallery__right.gallery__block
        .gallery__right-top 
          img(src="./images/gallery-2.jpg")
          img(src="./images/gallery-3.jpg")
        .gallery__right-bottom 
          picture 
            source(srcset="./images/gallery-1_1.jpg", media="(max-width: 1228px)")
            img(src="./images/gallery-1.jpg", alt="img")
