section.hero 
  .container
    .hero__prewie 
      h1.hero__title. 
        Добро пожаловать в <span>Наш ресторан
      p.hero__sub-title. 
        ДОМ ЛУЧШЕЙ ЕДЫ
      button.hero__btn меню 
    //- ul.hero__list
    //-   each value, key in {"Магическая <span>Атмосфера</span>": "В нашем заведении царит магическая атмосфера наполненная вкусными ароматами", "Лучшее качество <span>Еды</span>": "Качество нашей<br>Еды - отменное!", "Недорогая <span>Еда</span>": "Стоимость нашей Еды зависит только от ее количества. Качество всегда на высоте!"}
    //-     li.hero__item.item 
    //-       .item__img
    //-       h3.item__title!= key 
    //-       p.item__text!= value
      