section.inset 
  .container 
    .inset__content
      .inset__text 
        h2.inset__title. 
          Отпразднуйте в одном из самых лучших ресторанов.
        p.inset__subscr. 
          Только в этом месяце бизнес-ланч от 250 ₽
      button.inset__btn Заказ столика 