section.prewie 
  .container 
    .prewie__content
      h2.prewie__title. 
        Наша <span>История
      p.prewie__paragraph. 
        Как и у любого другого самобытного места, у нас есть своя, особая история. Идея ресторана пришла основателям неожиданно. Во время прогулки по лесу создатель нашего ресторана застрял в сотнях километров от ближайшего населенного пункта. Вдали от цивилизации и связи им пришлось навремя обустровать себе нехитрый быт, добывать и готовить себе еду.
      ul.prewie__list 
        each value, key in {"93": "Напитки", "206": "Еда", "76": "Закуски"}
          li.prewie__item.element
            h3.element__title= key 
            p.element__subscr= value
    .prewie__img 