section.stend 
  .container 
    img.stend__img(src="./images/stend-img.jpg")
    ul.stend__list 
      - for (var i = 0; i < 3; i++)
          li.stend__item.item
            .item__icon 
            p.item__text 
              span.item__str.  
                Гамбургер мини
              span.item__span 
              span.item__str.  
                220 ₽